@font-face {
    font-family: 'CustomFont';
    src: url('font/HomeVideo-BLG6G.ttf') format('truetype');
}


.current, .current:visited {
    color: #124c8fbb;
    text-decoration:overline underline dashed;
}


body{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

header {
    margin-bottom: 5%;
}

content {
    background-color: white;
    width: 500px;
    display: flex;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Customfont', sans-serif;
    position: relative;
    height: 100vh;
    background-image: url('img/fond_index.png');
    background-size: cover;
    background-position: center;
}


li {
    display: flex;
    justify-content: space-around;
}

h2 {

    margin: 0 10px;
    font-size: 1.5rem;
    padding: 5px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: #124c8fbb;
}