@font-face {
    font-family: 'CustomFont';
    src: url('font/HomeVideo-BLG6G.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Customfont', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-top: 1em;
}

